/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: auto;
  backdrop-filter: blur(20px);
  background: rgba(159, 156, 156, 0.3);
  border-radius: 20px;
  color: white;
}

.inputfield {
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.inputfield h3 {
  text-align: center;
  margin: 20px 0;
}

.inputfield p {
  font-size: 0.9em;
}

.inputfield input {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

.inputfield ::placeholder {
  padding: 5px;
  font-size: 14px;
}

.inputfield button {
  width: 300px;
  margin: 10px 0;
  background-color: rgb(255, 3, 3);
  padding: 5px;
  color: white;
  border-radius: 10px;
  border: none;
}

.moviecontainer {
  width: 350px;
}

.movie-card img {
  width: 150px;
  height: 180px;
}

.movie-card h4 {
  margin: 15px 0;
}

.Child {
  margin: 20px;
} */