* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 59, 59);
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
  background: rgb(190, 176, 162);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 10px;
}

.container input {
  padding: 10px;
  margin: 20px 0 0;
  border-radius: 10px;
  border: none;
  width: 300px;
}

.container button {
  background-color: rgb(24, 4, 248);
  color: white;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.weatherresult{
 position: relative;
  width: 400px;
  height: auto;
  padding: 10px;
}
.icon{
  position: absolute;
  right: 50px;
  top: 0;
}
.Temp{
  font-size: 30px;
}